<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Crónos.My.MySettings.RelojeríaConnectionString" connectionString="Data Source=DESKTOP-6M8F774\DEVJR;Initial Catalog=Relojería;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
